* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clock {
    position: relative;
    margin:10px auto;
    background: url("./images/clock.png") no-repeat;
    width: 40vw;
    height: 40vw;
    background-size: 100%;
}
.title{
    position: absolute;
    top: 20%;
    left: 40%;
}
.clock_hours,
.clock_minuts,
.clock_seconds {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

.clock_hours {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
}

.clock_minuts {
    width: 1.6%;
    height: 25%;
    top: 24%;
    left: 48.9%;
}

.clock_seconds {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
}